.card{
  display: inline-block;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  width: 250px;
  padding : 20px;
  margin: 20px;
}

.desc{
    font-size: 13px;
    color: white;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #555555;
  color:white;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}